@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: #333;
}

h2,
h3 {
  color: #333;
  padding: 0px;
  margin: 0px;
  font-weight: 300;
}

.parent {
  display: grid;
  grid-template-columns: 0.6fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100vh;
  width: 100vw;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
  background-color: #f1e0d3;
}
.div2 {
  border-left: 0.5px solid rgb(192, 187, 187);
  grid-area: 1 / 2 / 2 / 3;
  background-color: #f1e0d3;
}

.about-me {
  height: 22rem;
  padding: 1rem;
}

.about-me h1 {
  font-size: 4rem;
  font-weight: 300;
  color: #333;
}

.about-me p {
  border-top: 0.5px dashed black;
  border-bottom: 0.5px dashed black;
  padding: 0.5rem 0 0.5rem 0;
  width: 80%;
  color: #333;
}

/* --work-- */
.Work,
.Me,
.Contact {
  border-top: 1px dashed #333;
  height: 6rem;
  padding: 0 0 0 1rem;
  display: flex;
  text-align: center;
  font-size: 1.8rem;
}

#h2 {
  margin-top: 1.2rem;
}

.hover {
  overflow: hidden;
}
.hover a {
  overflow: hidden;
}

.hover a span {
  position: relative;
  display: inline-block;
  transition: all 0.6s;
}

.hover a span::before {
  color: #000;
  position: absolute;
  top: 100%;
  content: attr(data-hover);
  transform: translate3d(0, 0, 0);
}
.hover a:hover span {
  transform: translateY(-100%);
}

/* -----footer------ */
.Footer {
  border-top: 1px dashed #333;
  padding: 1rem;
}

.footer-inner {
  margin-top: 1.9rem;
  font-size: 1rem;
  font-weight: 300;
}

.footer-inner {
  overflow: hidden;
}
.footer-inner a {
  overflow: hidden;
}

.footer-inner a span {
  position: relative;
  display: inline-block;
  transition: all 0.6s;
}

.footer-inner a span::before {
  color: #000;
  position: absolute;
  top: 100%;
  content: attr(data-hover);
  transform: translate3d(0, 0, 0);
}
.footer-inner a:hover span {
  transform: translateY(-100%);
}

/* -----------contact--------------- */
.Case__Studies {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 5rem;
  padding: 7%;
}

#c-studies {
  margin: 1rem 1rem 1rem 3rem;
  padding: 1rem;
  font-size: 3rem;
  color: #333;
  text-align: center;
  font-family: "Playfair Display", serif;
  border: 1px dashed red;
}

.one {
  transform: translateX(80px) rotate(10deg);
  grid-area: 1 / 1 / 2 / 2;
  background-color: #fabea7;
  height: 13rem;
}
.two {
  transform: translateX(-80px) rotate(-25deg);
  grid-area: 1 / 2 / 2 / 3;
  background-color: #fbe2e5;
}
.three {
  transform: translateX(30px) rotate(10deg);
  grid-area: 2 / 1 / 3 / 2;
  background-color: #9cada4;
}
.four {
  transform: translateX(-80px) rotate(-25deg);
  grid-area: 2 / 2 / 3 / 3;
  background-color: #767c77;
}

.one h3,
.two h3,
.three h3,
.four h3 {
  padding: 0.5rem;
  font-weight: 500;
  font-size: 1.7rem;
  width: 50%;
}
.one span,
.two span,
.three span,
.four span {
  font-family: "Playfair Display", serif;
}
